.modalOverlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.inputContainer {
  border: none;
  background-color: white;
}

.inputContainer:disabled:hover {
  background-color: gray;
}

